 <!-- card mulai -->
 <form th:action="@{~/gedung/update}" id="form-input" th:object="${gedung}">

     <div class="card">
         <div class="card-header bg-warning">
             <h3 class="card-title">New Fakultas</h3>
         </div>

         <div class="modal-body row">
             <div class="card-body">

                 <input type="hidden" th:field="*{id}">

                 <div class="form-group">
                     <label for="code">Kode</label>
                     <input id="code" type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid' : 'form-control '">
                     <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
                 </div>

                 <div class="form-group">
                     <label for="name">Nama</label>
                     <input id="name" type="text" th:field="*{jmlLantai}" th:class="${#fields.hasErrors('jmlLantai')} ? 'form-control is-invalid': 'form-control'">
                     <span th:if="${#fields.hasErrors('jmlLantai')}" class="error invalid-feedback" th:errors="*{jmlLantai}"></span>
                 </div>

                 <div class="form-group">
                     <label for="jmlLantai">Jumlah Lantai</label>
                     <input id="jmlLantai" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'">
                     <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
                 </div>

                 <div class="form-group">
                     <label for="alamat">Alamat</label>
                     <textarea  id="alamat" th:field="*{alamat}" th:class="${#fields.hasErrors('alamat')} ? 'form-control is-invalid': 'form-control'"> </textarea>
                     <span th:if="${#fields.hasErrors('alamat')}" class="error invalid-feedback" th:errors="*{alamat}">pesan error</span>
                 </div>
             </div>
         </div>

         <div class="card-footer">
             <button type="submit" class="btn btn-success">Simpan</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
     </div>
 </form>