 <!-- card mulai -->
 <form th:action="@{~/kelas/save}" method="post">
     <input type="hidden" name="id" th:value="${data.id}">
     <div class="card">
         <div class="card-header bg-warning">
             <h3 class="card-title">New Fakultas</h3>
         </div>

         <div class="modal-body row">
             <div class="col-md-6 col-lg-6">
                 <div class="form-group">
                     <label for="code">Code</label>
                     <input id="code" type="text" name="code" class="form-control" th:value="${data.code}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="namaHari">Hari</label>
                     <input id="namaHari" type="text" name="namaHari" class="form-control" th:value="${data.namaHari}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="jamMulai">Jam Mulai</label>
                     <input id="jamMulai" type="time" name="jamMulai" class="form-control" th:value="${data.jamMulai}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="jamSelesai">Jam Selesai</label>
                     <input id="jamSelesai" type="time" name="jamSelesai" class="form-control" th:value="${data.jamSelesai}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label>Nama Ruang</label>
                     <input type="text" class="form-control" th:value="${data.ruangName}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label>Nama Matakuliah</label>
                     <input type="text" class="form-control" th:value="${data.mataKuliahName}" readonly="readonly" >
                 </div>
             </div>


             <div class="col-md-6 col-lg-6">
                 <div class="form-group">
                     <label>Nama Dosen</label>
                     <input type="text" class="form-control" th:value="${data.dosenName}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="status">status</label>
                     <input id="status" type="text" name="status" class="form-control" th:value="${data.status}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="tahunAjaran">tahunAjaran</label>
                     <input id="tahunAjaran" type="text" name="tahunAjaran" class="form-control" th:value="${data.tahunAjaran}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="semester">semester</label>
                     <input id="semester" type="text" name="semester" class="form-control" th:value="${data.semester}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="quota">quota</label>
                     <input id="quota" type="text" name="quota" class="form-control" th:value="${data.quota}" readonly="readonly" >
                 </div>

                 <div class="form-group">
                     <label for="bisaOnline">bisaOnline</label>
                     <input id="bisaOnline" type="text" name="bisaOnline" class="form-control" th:value="${data.bisaOnline}" readonly="readonly" >
                 </div>
             </div>
         </div>
 </form>