 <!-- card mulai -->
 <form th:action="@{~/fakultas/save}" method="post">
     <input type="hidden" name="id" th:value="${data.id}">
     <div class="card">
         <div class="card-header bg-warning">
             <h3 class="card-title">New Fakultas</h3>
         </div>

         <div class="card-body">
             <div class="form-group">
                 <label for="code">Kode</label>
                 <input id="code" type="text" name="code" class="form-control" th:value="${data.code}" readonly="readonly" >
             </div>

             <div class="form-group">
                 <label for="name">Nama</label>
                 <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" readonly="readonly" >
             </div>

             <div class="form-group">
                 <label for="alamat">Alamat</label>
                 <textarea  id="alamat" name="alamat" class="form-control" th:text="${data.alamat}" readonly="readonly" > </textarea>
             </div>

            <!-- table -->
            <div class="form-group">
                 <label >Jurusan</label>
                 <table class="table table-bordered table-hover dataTable dtr-inline">
                     <thead>
                     <tr>
                         <td class="font-weight-bold">Kode</td>
                         <td class="font-weight-bold">Nama Jurusan</td>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="jurusan : ${data.jurusans}">
                         <td th:text="${jurusan.code}"></td>
                         <td th:text="${jurusan.name}"></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
 </form>