<!-- card mulai -->
<form th:action="@{~/dosen/update}" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">New Dosen</h3>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label for="nip">NIP</label>
                <input id="nip" type="text" name="nip" class="form-control" th:value="${data.nip}">
            </div>

            <div class="form-group">
                <label for="name">Nama</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}">
            </div>

            <div class="form-group">
                <label for="jk">Jenis Kelamin</label>
                <input id="jk" type="text" name="jk" class="form-control" th:value="${data.jk}">
            </div>

            <div class="form-group">
                <label for="alamat">Alamat</label>
                <textarea  id="alamat" name="alamat" class="form-control" th:text="${data.alamat}"> </textarea>
            </div>

            <div class="form-group">
                <label for="gelar">Gelar</label>
                <input id="gelar" type="text" name="gelar" class="form-control" th:value="${data.gelar}">
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>