<!-- card mulai -->
<form th:action="@{~/matakuliah/update}" method="post" id="form-input" th:object="${matakuliah}">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">New Mata Kuliah</h3>
        </div>

        <div class="modal-body row">
            <div class="card-body">

                <input type="hidden" th:field="*{id}">

                <div class="form-group">
                    <label for="code">Kode</label>
                    <input id="code" type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid' : 'form-control '">
                    <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
                </div>

                <div class="form-group">
                    <label for="name">Nama</label>
                    <input id="name" type="text" th:field="*{jmlLantai}" th:class="${#fields.hasErrors('jmlLantai')} ? 'form-control is-invalid': 'form-control'">
                    <span th:if="${#fields.hasErrors('jmlLantai')}" class="error invalid-feedback" th:errors="*{jmlLantai}"></span>
                </div>

                <div class="form-group">
                    <label for="sks">SKS</label>
                    <input id="sks" type="number" th:field="*{sks}" th:class="${#fields.hasErrors('sks')} ? 'form-control is-invalid': 'form-control'">
                    <span th:if="${#fields.hasErrors('sks')}" class="error invalid-feedback" th:errors="*{sks}"></span>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Simpan</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>