<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <title>Test Main</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
  <div class="col-sm-6">
    <h1 class="m-0">Dashboard</h1>
  </div><!-- /.col -->
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row" layout:fragment="content">
  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Fakultas</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/fakultas/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Jurusan</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/jurusan/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Mahasiswa</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/mahasiswa/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Gedung</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/gedung/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Ruang</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/ruang/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Mata Kuliah</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/matakuliah/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Dosen</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/dosen/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-dark">
      <div class="card-header">
        <h5 class="card-title">Kelas</h5>
      </div>
      <div class="card-footer">
        <a th:href="@{~/kelas/index.html}" class="card-link">More Info</a>
      </div>
    </div>
  </div>
  <!-- /.card -->
</div>
</div>
</body>
</html>