<!-- card mulai -->
<form th:action="@{~/ruang/update}" id="form-input" method="post" th:object="${ruang}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">New Ruang</h3>
        </div>

        <div class="card-body">
            <!--id di hidden-->
            <input type="hidden" id="id" th:field="*{id}">

            <div class="form-group">
                <label for="code">Kode</label>
                <input id="code" type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
            </div>

            <div class="form-group">
                <label for="name">Nama Ruang</label>
                <input id="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label for="lantaiKe">Lantai Ke</label>
                <input id="lantaiKe" type="number" th:field="*{lantaiKe}" th:class="${#fields.hasErrors('lantaiKe')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('lantaiKe')}" class="error invalid-feedback" th:errors="*{lantaiKe}"></span>
            </div>

            <div class="form-group">
                <label for="gedungId">Gedung</label>
                <select id="gedungId" th:field="*{gedungId}" th:class="${#fields.hasErrors('gedungId')} ? 'form-control is-invalid': 'form-control'">
                    <option value="">Select One</option>
                    <option th:each="option: ${gedungList}" th:value="${option.id}" th:text="${option.name}"
                            th:selected="${option.id == ruang.gedungId}"></option>
                </select>
                <span th:if="${#fields.hasErrors('gedungId')}" class="error invalid-feedback" th:errors="*{gedungId}"></span>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>