<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">>
<head>
    <meta charset="UTF-8">
    <title>Ruang</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Ruang</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Ruang</li>
        </ol>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- card mulai -->
        <div class="card">
            <!-- header -->
            <div class="card-header bg-success">
                <h3 class="card-title">Ruang</h3>

                <!--- header tools -->
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/ruang/add}" id="btn-add" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- tools end -->
            </div>
            <!-- header end -->

            <div class="card-body">
                <table class="table">
                    <thead style="font-weight: bold">
                    <tr>
                        <td>Kode</td>
                        <td>Nama Ruang</td>
                        <td>Lantai Ke</td>
                        <td>Gedung</td>
                        <td>Action</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="data : ${dataList}">
                        <td th:text="${data.code}"></td>
                        <td th:text="${data.name}"></td>
                        <td th:text="${data.lantaiKe}"></td>
                        <td th:text="${data.gedungName}"></td>
                        <td>
                            <a th:href="@{~/ruang/detail/{id}(id=${data.id})}" class="btn btn-xs btn-info btn-detail">
                                <i class="fas fa-eye"></i>
                            </a>&nbsp;
                            <a th:href="@{~/ruang/edit/{id}(id=${data.id})}" class="btn btn-xs btn-warning btn-edit">
                                <i class="fas fa-edit"></i>
                            </a> &nbsp;
                            <form th:action="@{~/ruang/delete}" method="post"
                                  class="d-inline"
                                  onsubmit="return confirm('Apakah anda yakin ingin hapus data?')">
                                <input type="hidden" name="id" th:value="${data.id}">
                                <button type="submit" class="btn btn-xs btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
<script layout:fragment="client-script">
    //event button add
    $("#btn-add").on("click", function (e){
        e.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
            url:url,
            dataType: 'HTML',
            method: 'GET',
            success: function (result){
                $('#modal-form').find('.modal-content').html(result);
                $('#modal-form').modal('show');
            }
        })
        return;
    });

    $('.btn-detail').on('click', function (e){
        e.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
            url:url,
            dataType: 'HTML',
            method: 'GET',
            success: function (result){
                $('#modal-form').find('.modal-content').html(result);
                $('#modal-form').modal('show');
            }
        })
        return;
    });

    $(".btn-edit").on("click", function (e){
        e.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
            url: url,
            dataType: 'HTML',
            method: 'GET',
            success: function (result){
                $('#modal-form').find('.modal-content').html(result);
                $('#modal-form').modal('show');
            }
        })
        return;
    });

    $('#modal-form').on('submit','#form-input', function (){
        $.ajax({
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'html',
            type: 'POST',
            success: function (data){
                // masukan dulu result ke modal
                $('#modal-form').find('.modal-content').html(data);
                // check jumlah element yang memiliki class has-error
                var check = $("#modal-form").find(".modal-content").find(".error").length;
                console.log("count invalid : "+ check);
                // jika tidak ada error
                if(check==0){
                    $("#modal-form").modal('hide');
                    location.reload();
                }
            }
        });
        return false;
    });
</script>
</body>
</html>