<!-- card mulai -->
<form th:action="@{~/jurusan/save}" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">Jurusan</h3>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label for="code">Kode</label>
                <input id="code" type="text" name="code" class="form-control" th:value="${data.code}" readonly="readonly" >
            </div>

            <div class="form-group">
                <label for="name">Jurusan</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Fakultas</label>
                <input type="text" class="form-control" th:value="${data.fakultasName}" readonly="readonly" >
            </div>
        </div>
    </div>
</form>