<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Detail Fakultas</h1>
    <form th:action="@{~/fakultas/save}" method="post">
        <input type="hidden" name="id" th:value="${data.id}">
        <label>Kode</label><br>
        <input readonly="readonly" type="text" name="code" id="code" th:value="${data.code}"><br/>

        <label>Nama</label>
        <input readonly="readonly" type="text" name="name" id="name" th:value="${data.name}"><br/>

        <label>Alamat</label><br>
        <textarea readonly="readonly" name="alamat" id="alamat" cols="20" rows="5" th:text="${data.alamat}"></textarea><br/>
    </form>
</body>
</html>