<!-- card mulai -->
<form th:action="@{~/mahasiswa/save}" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">New Mahasiswa</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <!-- id hidden -->
        <input type="hidden" th:field="*{id}">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label>Nama</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Jenis Kelamin</label>
                <input type="text" name="jk" class="form-control" th:value="${data.jk}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Alamat</label>
                <input type="text" name="alamat" class="form-control" th:value="${data.alamat}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Tempat Lahir</label>
                <input type="text" name="tmpLahir" class="form-control" th:value="${data.tmpLahir}" readonly="readonly" >
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label>Tanggal Lahir</label>
                <input type="date" name="tglLahir" class="form-control" th:value="${data.tglLahir}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Agama</label>
                <input type="text" name="agama" class="form-control" th:value="${data.agama}" readonly="readonly" >
            </div>
            <div class="form-group">
                <label>Jurusan</label>
                <input type="text" name="jurusan" class="form-control" th:value="${data.jurusanName}" readonly="readonly" >
            </div>

        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>