<!-- card mulai -->
<form th:action="@{~/mahasiswa/save}" method="post" id="form-input" th:object="${mahasiswa}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">New Mahasiswa</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="name">NIM</label>
                <input id="nim" type="text" th:field="*{nim}" th:class="${#fields.hasErrors('nim')} ? 'form-control is-invalid': 'form-control'"/>
                <span th:if="${#fields.hasErrors('nim')}" class="error invalid-feedback" th:errors="*{nim}"></span>
            </div>

            <div class="form-group">
                <label for="name">Nama</label>
                <input id="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'"/>
                <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label for="alamat">Alamat</label>
                <input id="alamat" type="text" th:field="*{alamat}" th:class="${#fields.hasErrors('alamat')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('alamat')}" class="error invalid-feedback" th:errors="*{alamat}"></span>
            </div>

            <div class="form-group">
                <label for="jk">Jenis Kelamin</label>
                <select id="jk" class="form-control" th:field="*{jk}" th:class="${#fields.hasErrors('jk')} ? 'form-control is-invalid': 'form-control'">
                    <option value="">Select One</option>
                    <option th:each="option: ${#lists.sort(genderList, byPosition)}" th:value="${option.id}" th:text="${option.name}"
                            th:selected="${option.id == mahasiswa.jk}">Select One</option>
                </select>
                <span th:if="${#fields.hasErrors('jk')}" class="error invalid-feedback" th:errors="*{jk}"></span>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="tptLahir">Tempat / Tanggal Lahir</label>
                <div class="input-group mb-3">
                    <input id="tptLahir" type="text" th:field="*{tmpLahir}" th:class="${#fields.hasErrors('tmpLahir')} ? 'form-control is-invalid': 'form-control'" placeholder="tempat lahir">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input id="tglLahir" type="date" th:field="*{tglLahir}" th:class="${#fields.hasErrors('tglLahir')} ? 'form-control is-invalid': 'form-control'" placeholder="dd-MM-yyyy">
                </div>
                <span th:if="${#fields.hasErrors('tmpLahir')}" class="error invalid-feedback" th:errors="*{tmpLahir}"></span>
                <span th:if="${#fields.hasErrors('tglLahir')}" class="error invalid-feedback" th:errors="*{tglLahir}"></span>
            </div>

            <div class="form-group">
                <label for="agama">Agama</label>
                <select id="agama" th:field="*{agama}" th:class="${#fields.hasErrors('agama')} ? 'form-control is-invalid': 'form-control'">
                    <option value="">Select One</option>
                    <option th:each="option: ${#lists.sort(agamaList,byPosition)}" th:value="${option.id}" th:text="${option.name}"
                            th:selected="${option.id == mahasiswa.agama}">Select One</option>
                </select>
                <span th:if="${#fields.hasErrors('agama')}" class="error invalid-feedback" th:errors="*{agama}"></span>
            </div>

            <div class="form-group">
                <label for="jurusanId">Jurusan</label>
                <select id="jurusanId" th:field="*{jurusanId}" th:class="${#fields.hasErrors('jurusanId')} ? 'form-control is-invalid': 'form-control'">
                    <option value="">Select One</option>
                    <option th:each="option :${jurusanList}" th:value="${option.id}" th:text="${option.name}"
                            th:selected="${option.id == mahasiswa.jurusanId}"> </option>
                </select>
                <span th:if="${#fields.hasErrors('jurusanId')}" class="error invalid-feedback" th:errors="*{jurusanId}"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="submit" class="btn btn-success">Simpan</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>